<footer class=" footer">
  <div class=" container-fluid">
    <ul class=" nav">
      <li class=" nav-item">
        <a class=" nav-link" href="https://github.com/dex1g/AcornFront">
          Acorn Front
        </a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" href="https://github.com/dex1g/AcornAPI">
          Acorn Back
        </a>
      </li>
    </ul>
    <div class=" copyright">
      &copy; {{ currentDate | date: "yyyy" }} made with
      <i class=" tim-icons icon-heart-2"> </i> by
      <a href="https://www.creative-tim.com?ref=bda-footer" target="_blank"> Creative Tim </a>, customized by <a
        href="https://github.com/LeszekBlazewski" target="_blank">Leszek Blazewski</a>
    </div>
  </div>
</footer>