<div class="row">
    <div class=" col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class=" card-title">{{componentHeader}}</h4>
            </div>
            <div class="card-body">
                <ngx-ui-loader [loaderId]="'loader-bots'" [text]="'Fetching accounts'">
                </ngx-ui-loader>
                <table class="table">
                    <thead class=" text-primary">
                        <tr class="text-center">
                            <th scope="col">ID</th>
                            <th scope="col">Login</th>
                            <th scope="col" class="column-hide">Password</th>
                            <th scope="col" class="column-hide">Birth date</th>
                            <th scope="col">Region</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" *ngFor="let account of accounts">
                            <td class="number-size">{{ account.accountId}}<i
                                    class="tim-icons icon-single-02 icon-hide"></i>
                            </td>
                            <td>{{ account.login}}</td>
                            <td class="column-hide">{{ account.password}}</td>
                            <td class="column-hide">{{ account.birthDate | date:'dd-MM-y'}}</td>
                            <td><img [src]="getRegionIcon(account.region)"
                                    class="icon-align icon-hide">{{Regions[account.region]}}</td>
                            <td class="text-center"><i class="tim-icons icon-pencil tim-icons-md pr-2" placement="top"
                                    ngbTooltip="Edit account" (click)="openSpecificAccountModal(account)"
                                    style="cursor: pointer"></i>
                                <i class="tim-icons icon-simple-remove tim-icons-md" placement="top"
                                    ngbTooltip="Remove account" (click)="openDeleteAccountModal(account)"
                                    style="cursor: pointer"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer d-flex flex-row-reverse column-hide">
                <button class="btn btn-primary ml-2" ngbAutofocus (click)="openSpecificAccountModal(null)">Add new
                    account</button>
            </div>
        </div>
    </div>
</div>