$midScreenIconUpperBound: 529px;
$midScreenColumnHideUpperBound: 510px;

.icon-single-02{
    font-size: 14px;
    padding-bottom: 0.2em;
}

.number-size{
    font-size: 18px;
}

.icon-align {
    width: 1.2rem;
}

.icon-hide {
    @media (max-width: $midScreenIconUpperBound) {
        display: none;
    }
}

.column-hide {
    @media (max-width: $midScreenColumnHideUpperBound) {
        display: none;
        button {
            flex-grow: 1;
        }
    }
}