<div *ngIf="bot" class=" row">
    <div class=" col-md-3">
        <div class=" card card-chart">
            <div class=" card-header ">
                <h3 class=" card-title ">
                    <i class="tim-icons icon-badge tim-icons-lg"></i>
                    BotID: {{ bot.botId }}
                </h3>
            </div>
            <div class=" card-body">
                <!-- <h4>
                    Status: {{bot.botOrder | enumAsString : BotOrder}}
                </h4> -->
            </div>
        </div>
    </div>
</div>