<table class="table">
    <thead class=" text-primary">
        <tr class="text-center">
            <th scope="col">ID</th>
            <th scope="col">Login</th>
            <th scope="col">Region</th>
            <th scope="col">Level</th>
            <th scope="col">Experience</th>
        </tr>
    </thead>
    <tbody>
        <tr class="text-center" *ngFor="let account of accounts">
            <td class="number-size">{{ account.accountId }}<i class="tim-icons icon-single-02 icon-hide"></i></td>
            <td>{{ account.login}}</td>
            <td><img [src]="getRegionIcon(account.region)" class="mb-1 pull-left icon-hide"
                    style="width: 20px">{{Regions[account.region]}}</td>
            <td class="text-center">{{account.level}}</td>
            <td>
                <ngb-progressbar class="text-center" type="primary" [value]="account.expPercentage" [striped]="true"
                    [animated]="true">
                    <span class="progress-text font-weight-bold">{{account.expPercentage}}%</span>
                </ngb-progressbar>
            </td>
        </tr>
    </tbody>
</table>