$bigScreenUpperBound: 1439px;
$bigScreenLowerBound: 959px;
$MidScreenUpperBoound: 812px;
$MidScreenLowerBound: 600px;
$smallScreen: 389px;


.icon-hide {
    @media (min-width:$bigScreenLowerBound) and (max-width: $bigScreenUpperBound){
        display: none;
    };
    @media (min-width:$MidScreenLowerBound) and (max-width: $MidScreenUpperBoound){
        display: none;
      };
    @media (max-width: $smallScreen) and (orientation:portrait) {
        display: none;
    };
}


.icon-single-02{
    font-size: 14px;
    padding-bottom: 0.2em;
}

.number-size{
    font-size: 18px;
}

table { 
    border-collapse: separate; 
    border-spacing: 0 10px; 
    margin-top: -10px;
}

td {
    border: solid 1px #000;
    border-style: solid none;
    padding: 10px;
    background-color: #e66ad2;
}

td:first-child {
    border-left-style: solid;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
}

td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 10px; 
    border-top-right-radius: 10px; 
}

.progress-text {
    position: absolute;
    display: block;
    left: calc(86% - 0.75rem);
}

// Firefox >= 30v styling

@supports (-moz-appearance:meterbar) and (background-blend-mode:difference,normal) {
    .progress-text {
        position: absolute;
        display: block;
        left: calc(88% - 0.75rem);
    }
}