<div *ngIf="bot && currentLog">
    <div class="card card-chart">
        <div class=" card-header ">
            <h3 class=" card-title ">
                <i class="tim-icons icon-badge tim-icons-lg"></i>
                BotID: {{ bot.botId }}
            </h3>
        </div>
        <div class=" card-body">
            <h4>
                Status: {{BotOrders[bot.botOrder]}}
            </h4>
            <ng-container *ngIf="this.currentLog.date; then displayDate; else displayNoRecentLog">
            </ng-container>

            <ng-template #displayDate>
                <h4>
                    Log date: {{currentLog.date | date:'dd-MM-y: H:mm'}}
                </h4>
            </ng-template>
            <ng-template #displayNoRecentLog>
                <h4>
                    Log date: No recent log
                </h4>
            </ng-template>

            <h4>
                Latest log: {{currentLog.status}}
            </h4>
            <h4 class="text-center">
                Account list
            </h4>
            <app-bot-account-list *ngIf="accountsForBot" [accounts]="accountsForBot"></app-bot-account-list>
            <div class="d-flex">
                <button class="btn btn-primary flex-fill" (click)="openConfigModal()">Config</button>
                <button class="btn btn-primary flex-fill" (click)="openAccountsModal()">Accounts</button>
            </div>
            <div class="d-flex">
                <form [formGroup]="updateStatusForm" (ngSubmit)="updateBotStatus()" class="flex-fill">
                    <ng-select [searchable]="false" [items]="botOrderKeys" formControlName="botStatus"
                        placeholder="Choose action">
                    </ng-select>
                    <div *ngIf="submitted && form.botStatus.errors">
                        <ngb-alert [type]="'danger'" *ngIf="form.botStatus.errors.required" [dismissible]="false"
                            class="mt-2">
                            <span>
                                <b> Choose action first !</b>
                            </span>
                        </ngb-alert>
                    </div>
                </form>
                <button class="btn btn-success align-button-execute flex-fill"
                    (click)="updateBotStatus()">Execute</button>
            </div>
        </div>
    </div>
</div>