<div *ngIf="bot">
    <div class="card card-chart">
        <div class=" card-header ">
            <div class="row no-gutters">
                <div class="col text-left">
                    <h3 class=" card-title ">
                        <i class="tim-icons icon-badge tim-icons-lg"></i>
                        BotID: {{ bot.botId }}
                    </h3>
                </div>
                <div class="col pull-right">
                    <button type="button" class="close text-danger" aria-label="Close button"
                        (click)="openDeleteBotModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <h4>
                Status: {{BotOrders[bot.botOrder]}}
            </h4>
            <div *ngIf="currentLog === undefined else logFetched" class="d-flex justify-content-center">
                <h2 class="text-center" style="color: #B24BF3">Logs loading...</h2>
            </div>
            <ng-template #logFetched>
                <ng-container *ngIf="currentLog != null; then displayDate; else displayNoRecentLog">
                </ng-container>
                <ng-template #displayDate>
                    <h4>
                        Log date: {{currentLog.date | date:'dd-MM-y: H:mm'}}
                    </h4>
                </ng-template>
                <ng-template #displayNoRecentLog>
                    <h4>
                        Log date: No recent log
                    </h4>
                </ng-template>
                <h4>
                    Latest log: {{currentLog ? currentLog.status: 'No recent log'}}
                </h4>
            </ng-template>
            <div *ngIf="!accountsForBot">
                <div class="d-flex justify-content-center">
                    <div id="circle">
                        <div class="loader">
                            <div class="loader">
                                <div class="loader">
                                    <div class="loader">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="text-center" style="color: #B24BF3">Accounts loading...</h3>
            </div>
            <h4 *ngIf="accountsForBot && accountsForBot.length > 0" class="text-center">
                Account list
            </h4>
            <app-bot-account-list *ngIf="accountsForBot && accountsForBot.length > 0" [accounts]="accountsForBot">
            </app-bot-account-list>
            <div *ngIf="accountsForBot && accountsForBot.length == 0" class="d-flex justify-content-center">
                <h3 class="text-danger mt-2">No accounts assigned to bot !</h3>
            </div>
            <div class="row no-gutters flex-nowrap">
                <div class="col mr-1">
                    <button class="btn btn-primary btn-block" (click)="openConfigModal()">Config</button>
                </div>
                <div class="col">
                    <button class="btn btn-primary btn-block" (click)="openAccountsModal()">Accounts</button>
                </div>
            </div>
            <div class="row no-gutters flex-nowrap">
                <div class="col mr-1">
                    <form [formGroup]="updateStatusForm" (ngSubmit)="updateBotStatus()">
                        <ng-select [searchable]="false" [items]="botOrderKeys" formControlName="botStatus"
                            placeholder="Choose action">
                        </ng-select>
                        <div *ngIf="submitted && form.botStatus.errors">
                            <ngb-alert [type]="'danger'" *ngIf="form.botStatus.errors.required" [dismissible]="false"
                                class="mt-2">
                                <span>
                                    <b> Choose action first !</b>
                                </span>
                            </ngb-alert>
                        </div>
                    </form>
                </div>
                <div class="col">
                    <button class="btn btn-success btn-block mt-0" (click)="updateBotStatus()">Execute</button>
                </div>
            </div>
        </div>
    </div>
</div>