$midScreenLowerBound: 810px;
$midScreenUpperBound: 992px;
$midScreenIconUpperBound: 663px;
$mobileColumHideBound: 610px;

::ng-deep .modal-mid-size .modal-dialog {
    @media (min-width: $midScreenLowerBound) and (max-width: $midScreenUpperBound) {
        max-width: 800px;
    }

    @media (max-width: 809px) {
        width: auto;
        max-width: 100%;
        margin: 0.5rem;
    }
}

.icon-hide {
    @media (max-width: $midScreenIconUpperBound) {
        display: none;
    }
}

.mobile-column-hide {
    @media (max-width: $mobileColumHideBound) {
        display: none;
    }
}


.modal-footer {
    justify-content: end !important;
}

.icon-single-02{
    font-size: 14px;
    padding-bottom: 0.2em;
}

.number-size{
    font-size: 18px;
}

.progress-text {
    position: absolute;
    display: block;
    left: calc(88% - 3.8rem);
}