<div class="card mb-0">
    <div class="modal-header">
        <h4>{{componentHeader}}:{{referencedBotId}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="activeModal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table">
            <thead class=" text-primary">
                <tr class="text-center">
                    <th scope="col">ID</th>
                    <th scope="col">Login</th>
                    <th scope="col" class="mobile-column-hide">Password</th>
                    <th scope="col" class="mobile-column-hide">Birth date</th>
                    <th scope="col">Region</th>
                    <th scope="col">Level</th>
                    <th scope="col" class="mobile-column-hide">Experience</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" *ngFor="let account of accounts">
                    <td class="number-size">{{ account.accountId}}<i class="tim-icons icon-single-02 icon-hide "></i>
                    </td>
                    <td>{{ account.login}}</td>
                    <td class="mobile-column-hide">{{ account.password}}</td>
                    <td class="mobile-column-hide">{{ account.birthDate | date:'dd-MM-y'}}</td>
                    <td><img [src]="getRegionIcon(account.region)" class="pull-left mb-1 icon-hide "
                            style="width: 20px">{{Regions[account.region]}}</td>
                    <td class="text-center">{{account.level}}</td>
                    <td class="mobile-column-hide">
                        <ngb-progressbar class="text-center" type="primary" [value]="account.expPercentage"
                            [striped]="true">
                            <span class="progress-text font-weight-bold">{{account.expPercentage}}%</span>
                        </ngb-progressbar>
                    </td>
                    <td class="text-center"><i class="tim-icons icon-pencil tim-icons-md pr-2" placement="top"
                            ngbTooltip="Edit account" (click)="openSpecificAccountModal(account)"
                            style="cursor: pointer"></i>
                        <i class="tim-icons icon-double-right tim-icons-md" placement="top" ngbTooltip="Detach account"
                            (click)="openDetachAccountModal(account.accountId)" style="cursor: pointer"></i>
                        <i class="tim-icons icon-simple-remove tim-icons-md" placement="top" ngbTooltip="Remove account"
                            (click)="openDeleteAccountModal(account)" style="cursor: pointer"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary mr-2" ngbAutofocus (click)="openSpecificAccountModal(null)">Add new
            account</button>
        <button class="btn btn-danger" (click)="activeModal.dismiss()">Close</button>
    </div>
</div>