.card-fill {
    height: 100%;
}

.modal-footer {
    justify-content: end !important;
}

.icon-single-02{
    font-size: 14px;
    padding-bottom: 0.2em;
}

.number-size{
    font-size: 18px;
}

.progress-text {
    position: absolute;
    display: block;
    left: calc(100% - 9.5rem);
}