<div class="card card-fill" *ngIf="configForm">
    <div class="modal-header">
        <h4>Edit config</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="configForm" (ngSubmit)="submitForm()">
            <div class="form-row">
                <div class="form-group col-md-2 pr-md-1">
                    <label>Bot ID</label>
                    <input class="form-control" formControlName="botId" type="text" />
                </div>
                <div class="form-group col-md-5 px-md-1">
                    <label> Queue type </label>
                    <ng-select [searchable]="false" formControlName="queueType" [clearable]="false" [items]="queueKeys">
                    </ng-select>
                </div>
                <div class="form-group col-md-5 pl-md-1">
                    <label> AI configuration</label>
                    <ng-select [searchable]="false" formControlName="aiConfiguration" [clearable]="false"
                        [items]="aiConfigurationKeys">
                    </ng-select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label> Config path </label>
                    <input class="form-control" formControlName="path" placeholder="Config path" type="text" />
                    <div *ngIf="form.path.invalid" class="invalid-feedback">
                        <div *ngIf="form.path.errors.required">Config is required</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3 pr-md-1">
                    <label> No action timeout </label>
                    <input class=" form-control" type="number" formControlName="noActionTimeout" />
                    <div *ngIf="form.noActionTimeout.invalid" class="invalid-feedback">
                        <div *ngIf="form.noActionTimeout.errors.required">Please provide valid value</div>
                    </div>
                </div>
                <div class="form-check col-md-4 checkbox-position">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="closeBrowser"
                            formControlName="closeBrowser" />
                        <label class="custom-control-label" for="closeBrowser">Close Browser</label>
                    </div>
                    <div class="custom-control custom-checkbox mt-2">
                        <input type="checkbox" class="custom-control-input" id="overWriteConfig"
                            formControlName="overWriteConfig" />
                        <label class="custom-control-label" for="overWriteConfig">Overwrite config</label>
                    </div>
                </div>
                <div class="col-md-5 mt-3">
                    <div class="d-flex">
                        <button class="btn btn-danger mr-2 d-flex justify-content-center"
                            (click)="activeModal.dismiss()">Cancel</button>
                        <button class="btn btn-primary d-flex justify-content-center" ngbAutofocus>Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>