.custom-checkbox .custom-control-input:not(:checked)~.custom-control-label::before {
    border: 2px solid;
    border-color: #e14eca;
}

.invalid-feedback {
    display: block;
}

.card form label + .form-control {
    margin-bottom: 0px;
}

.ng-select-disabled {
    .ng-select-container {
        cursor: not-allowed;
        opacity: 0.8;
        .ng-arrow-wrapper {
            cursor: not-allowed;
        }
    }
}