<table class="table">
    <thead class=" text-primary">
        <tr class="text-center">
            <th scope="col">#</th>
            <th scope="col">Login</th>
            <th scope="col">Region</th>
            <th scope="col">Level</th>
            <th scope="col">Experience</th>
        </tr>
    </thead>
    <tbody>
        <tr class="text-center" *ngFor="let account of accounts; index as i">
            <td class="number-size">{{ i + 1 }}<i class="tim-icons icon-single-02"></i></td>
            <td>{{ account.login}}</td>
            <td><img [src]="getImageUrl(account.region)" class="mr-2 mb-1"
                    style="width: 20px">{{Regions[account.region]}}</td>
            <td class="text-center">{{account.level}}</td>
            <td>
                <ngb-progressbar class="text-center" type="primary" [value]="account.expPercentage" [striped]="true"
                    [animated]="true">
                    <span class="progress-text font-weight-bold">{{account.expPercentage}}%</span>
                </ngb-progressbar>
            </td>
        </tr>
    </tbody>
</table>